<ion-header>
<ion-title></ion-title>
<select name="text1" style=" padding-bottom: 10px; padding-left: 100px; padding-right: 100px; padding-top: 10px;font-weight: 300">
<option value=""  selected="selected">English (United States)</option>
<option value="">India</option>
<option value="">Australia</option>
</select>
</ion-header>
<ion-content padding style="background-color:white;">
<br><br><br>
<div class="logoHeader">
<img alt="logo" height="180" style="position: relative" src="../../assets/imgs/instagram.png">
</div>
<div class="list">
<ion-label color="danger" text-wrap>{{errorSigninMessage}}</ion-label>
<ion-label class="item item-input"  style="background-color:whitesmoke">
<ion-input required type="text"     placeholder="Phone number,email or username" [(ngModel)]="newItem.title" name = "email"></ion-input>
</ion-label>
<ion-label style="background-color:whitesmoke">
<ion-input required type="password"      [(ngModel)]="newItem.value" name="password" placeholder="Password"></ion-input>
</ion-label>
<button ion-button color="primary" class="submit-btn" full type="submit" (click)="login(newItem.title,newItem.value)" style="background-color:lightskyblue">
Log In
</button>
<h6 style="font-size: 14px; font-weight: 300">Forgot your login details?<b> Get help signing in.</b></h6> 
<br><br>
<ion-item >
<ion-icon name="logo-facebook" item-left style="padding-left: 10px;"></ion-icon>
<div style="color:dodgerblue; padding-left:10px; padding-right:10px; font-size: 15px">Log in with Facebook</div>
</ion-item>
<ion-footer style="text-align: center; font-weight: 300; padding-bottom: 10px;padding-top: 10px">Don't have an account? <b>Sign up.</b></ion-footer>
<br><br><br>
</div>
</ion-content>
